{% extends 'base.html' %}

{% block title %}
    HOME
{% endblock %}
    
{% block body %}
    

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>Recorded Users</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Correction</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
                <form method="post" action="{{ url_for('delete_user', user_id=user.id) }}" style="display: inline;">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                <a class="btn btn-success" href="{{ url_for('edit_user', user_id=user.id) }}">Edit</a>
            </td>
            <td>
                {% if user.info %}
                    <a href="{{ url_for('user_detail', user_id=user.id) }}">Details</a>
                {% else %}
                    <a href="{{ url_for('add_user_detail', user_id=user.id) }}">Add Details</a>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <a href="/" class="btn btn-primary">ADD manually</a>
    {% endblock %}